@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ooredoo OMC<br />
    Charguia 2, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    22.125.886
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:firas.benahmed@ooredoo.tn">firas.benahmed@ooredoo.tn</a><br />
    <strong>Marketing:</strong> <a href="mailto:firas.benahmed@ooredoo.tn">firas.benahmed@ooredoo.tn</a>
</address>