@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Inventory Manager</h2>
        <p>
            Inventory Manger is a web  application that
            allows to display ,visualize statistics and import inventories data
        </p>
    </div>
    <div class="col-md-4">
        <h2>About Ooredoo </h2>
        <p>Oredoo is the number 1 telecommunications operator in Tunisia ,since 2001</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the description &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Download &raquo;</a></p>
    </div>
</div>